{% include "_header.html" ignore missing %}  

  <div class="container">
  	<div class="row">
  		<h3 class="col-sm-8 col-sm-offset-2">Password Recovery</h3>
  	</div>
    <div class="row">
    	<p class="col-sm-8 col-sm-offset-2">To reset your password, enter the username you use to sign in to WayToBlog. This can be your email address, your or another username associated with your account.</p>
    </div>
    <div class="row space-top-2x">      
        <form method="post" action="/passwordRecovery">

            <div class="col-sm-4 col-sm-offset-2">
              <div class="form-group">
                <label class="control-label">Username</label>
                <input type="text" class="form-control" placeholder="Enter username"  name="username" value="{{username}}">
                {{username_error}}
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
              
            </div>  
        
        </form>
    </div>
  </div>

{% include "./_footer.html" ignore missing %}
